body{
    font-family: Arial;
}


#contenedor{
    width: 95%;
    min-height: 400px;
    margin: 0 auto;
    border: 4px solid grey;
    background-color: lightgray;
    border-radius: 10px;
    padding: 20px;
	display: flex;
	flex-flow: column wrap;
	margin-top: 10px;
	max-width: 400px;
}

#divTitulo{
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-start;
}

#titulo{
	margin-top: 0;
	font-size: 35px;
}

h1{
    padding-top: 0px;
    font-size: 40px;
}

#carro{
    width: 60px;
	height: 50px;
}


button{
    width: 30px;
    height: 30px;
	padding: 0px;
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
button span{
	font-size: 25px;
}

#divPanel{
    min-width: 255px;
    border-radius: 5px;
    float: right;
}

#divCarro{
    width: 100%;
}

.producto{
    background-color: white;
    border: 1px solid grey;
    width: 100%;
    height: 30px;
    font-size: 18px;
    padding-left: 7px;
    display: flex;
    flex-flow:  row-reverse nowrap;
    justify-content: flex-end;
    align-items: baseline; 
}

#divInputs, #divPanel, #divBotones{
    display: flex;
    flex-flow:  row wrap;
    align-items: center; 
    min-height: 50px;
}

#inputCantidad{
    width: 50px;
}

#inputProducto{
	width: 150px;
}

#inputUnidad{
    width: 35px;
}

span{
    width: 90%;
    text-align: right;
}

#botonAyuda{
    width: 98%;
    text-align: right;
}

h1{
    border-bottom: 5px solid black;
    padding-bottom: 0px;
    padding-left: 6px;
}
